<div class="footer">
  <div class="footer-links">
    <a href="#"><i class=""></i></a>
    <a href="#"><i class=""></i></a>
    <a href="#"><i class=""></i></a>
    <a href="#"><i class=""></i></a>
    <a href="#"><i class=""></i></a>
  </div>
  <div class="footer-copyright">
    This website was made by Guillaume Trupin
  </div>
</div>
