<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo_colored.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="why_consult.html" class="navbar-wagon-item navbar-wagon-link">Pourquoi consulter ?</a>
    <a href="about.html" class="navbar-wagon-item navbar-wagon-link">Comment les contacter ?</a>
    <!-- Profile picture with dropdown list -->

  </div>

  <!-- Dropdown appearing on mobile only -->

</div>
