<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo-psy.png" alt="logo">
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="pratiques.html" class="navbar-wagon-item navbar-wagon-link">Leurs pratiques</a>
    <a href="about.html" class="navbar-wagon-item navbar-wagon-link">Comment les contacter ?</a>
    <!-- Profile picture with dropdown list -->

  </div>

  <!-- Dropdown appearing on mobile only -->

</div>
