<div class="container">
  <h2 class="subtitle-home">Nos coordonées</h2>
  <div class="coordonées"><p> Cabinet de psychologie, 4 rue Courmont, 59000 Lille</p></div>
  <div class="tel"><p> 06.15.56.57.65</p></div>
  <%= partial "map" %>
</div>
