<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i.pinimg.com/originals/bf/d9/7e/bfd97ec54f10cb2afdc4961f7f39ab89.jpg');">
  <div class="banner-content">
    <div class ="title"><h1>PSYTECC</h1></div>
    <p>Cynthia Cheroutre et Sophie Derenoncourt</p>
    <p>Psychologues</p>
    <div class ="portrait">
      <img src="images/cynthia.jpg" class="img-responsive"  alt="L'equipe" id="soph">
      <img src="images/sophie.jpg" class="img-responsive"  alt="L'equipe" id="soph">
    </div>
    <!-- <h5><i>" Le meilleur est à venir "</i></h5> -->
  </div>
</div>
<div class="container">
  <h2 class="subtitle-home">Qui sont-elles ?</h2>
  <div class="img-home">
    <img src="images/cerveau.png" class="img-responsive" alt="Notre philosophie" id="cerveau">
  </div>
    <div class="presentation"><p>Sophie et Cynthia sont diplômées du Master en psychologie clinique  des interventions cognitives et comportementales, éducatives et sociales de l’université de Lille 3. Elles sont également formées à l’éducation thérapeutique du patient (ETP), à la thérapie pleine conscience. Elles sont également sensibilisées à la thérapie ACT (Acceptation et Engagement). Elles consultent également au CHRU de Lille et GHICL (Hôpital de Saint Philibert). </p>
  </div>
</div>

<script>
// $("#soph").click(function() {
// $( "#soph" ).effect( "shake" );
// });
$(".subtitle-home").hover(function(){
$(this).css("background-color", "MistyRose");
}, function(){
$(this).css("background-color", "white");
});
$(".banner-content").hover(function(){
$(this).css("opacity", 1 );
}, function(){
$(this).css("opacity", 0.85);
});
</script>
