<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i.pinimg.com/originals/bf/d9/7e/bfd97ec54f10cb2afdc4961f7f39ab89.jpg');">
  <div class="banner-content">
    <h1>Cabinet de psychologie</h1>
    <p>Cynthia Cheroutre et Sophie Derenoncourt</p>
    <p>Psychologues</p>
    <img src="images/portrait_1.jpg" class="img-responsive" alt="Cynthia Cheroutre">
  </div>
</div>

<p class="h2">Notre philosophie</p>
<p class="h2">Notre manière de travailler</p>





<!--
   image_tag "logo.png", width: "200"

      link_to "More about this template", "about.html"  -->

