<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.maximumwall.com/wp-content/uploads/2015/07/fonds-ecran-ciel-14.jpg');">
  <div class="banner-content">
    <div class ="title"><h3>Psychologue <br> Diététicienne – Nutritionniste</h3></div>
    <br>
    <p>06.15.56.57.65</p>
    <div class ="portrait">
      <img src="images/logo_tribu.jpg" class="img-responsive"  alt="L'equipe">
    </div>
    <p>Cabinet La Tribu du Sujet</p>
    <!-- <h5><i>" Le meilleur est à venir "</i></h5> -->
  </div>
</div>
<div class="container">
  <h2 class="subtitle-home">Cynthia Cheroutre</h2>
  <div class="img-home">
    <img src="images/cynthia.jpg" class="img-responsive" alt="Notre philosophie" id="cerveau">
  </div>
    <div class="presentation">
      <p>Diplômée initialement en tant que Diététicienne – Nutritionniste, j’ai souhaité compléter mes compétences en me formant en tant que Psychologue clinicienne.
         J’ai donc obtenu un Master en psychologie clinique des interventions cognitives et comportementales, éducatives et sociales de l’université de Lille (PSITECC). Je suis notamment formée aux Thérapies Emotionnelles Cognitives et Comportementales.
         Aujourd’hui, j’interviens à la fois, en milieu hospitalier (CH de Saint Philibert), en milieu associatif (Association Rest’O), en libéral et enfin dans l’enseignement à l’université de Lille.
      </p>

      <br>
      <h3><p>Domaines d'intervention</p></h3>
      <br>

      <p>
        Ma double casquette de psychologue-diététicienne me permet de vous proposer à la fois mes compétences en psychologie et en nutrition. Je suis soucieuse de proposer dans ma pratique clinique une prise en charge globale.
      </p>

      <br>

      <p>
        Manger est un besoin quotidien nécessaire à notre organisme... et à notre cerveau. En retour, connaître le fonctionnement de notre cerveau nous aide à mieux répondre à notre corps, et à comprendre nos comportements (parfois alimentaires). Cependant, nous pouvons vite nous retrouver perdus avec nous-mêmes et les messages envoyés par notre environnement. Un vrai travail d’explorateur commence alors ! N’oublions pas que manger reste un besoin vital et également un plaisir de déguster et de partager.
      </p>

      <br>

      <p>
        En fonction de votre problématique, nous adapterons ensemble le travail thérapeutique afin de répondre au mieux à vos besoins et vos attentes.
      </p>


  </div>
</div>

<script>
// $("#soph").click(function() {
// $( "#soph" ).effect( "shake" );
// });
$(".subtitle-home").hover(function(){
$(this).css("background-color", "MistyRose");
}, function(){
$(this).css("background-color", "white");
});
$(".banner-content").hover(function(){
$(this).css("opacity", 1 );
}, function(){
$(this).css("opacity", 0.85);
});
</script>
