<div class="container">
  <h2 class="subtitle-home">Leurs pratiques</h2>

  <div class="presentation"><p><i>Sophie Derenoncourt et Cynthia Cheroutre sont des psychologues en Thérapies Emotionnelles Cognitives Comportementales (TECC). </i><br><br>
    Les TECC sont des thérapies validées scientifiquement. Elles aident la personne à mieux comprendre l’origine de la souffrance psychologique. Elles visent une modification rapide et sur le long terme. Et une autonomie dans la gestion du bien-être.
  Elles accueillent les adultes et les adolescents.<br></p>
  <h3 class="subtitle-home">Pourquoi consulter ?</h3>
  <img src="images/interrogation.jpg" alt="interrogation" class="image">
  <p>Il n’y a pas de règles pour consulter, l’important est l’impact de vos difficultés dans votre quotidien.
  Ces difficultés peuvent être d’ordre personnel, social ou professionnel.</p>
  <h3 class="subtitle-home">Comment cela se passe ?</h3>
  <img src="images/step.jpg" alt="rendez-vous" class="image">
  <p>Les consultations se font sur rendez-vous. Après avoir contacté le secrétariat, vous rencontrerez l’une d’entre elle en rendez-vous individuel.<br><br>
    Lors du premier rendez-vous, vous faites connaissances dans une ambiance empathique et bienveillante. Le but est de repérer les difficultés actuelles, leurs origines et leurs retentissements dans votre quotidien. Elle recueille vos attentes concernant le suivi. Elle vous propose, après vous avoir expliqué leur méthode de travail, une prise en charge personnalisée. Tout le suivi sera basé sur une collaboration entière entre elle et vous. Vous serez acteur de votre prise en charge.<br><br>
    Il se peut que lors de votre suivi, elle vous propose un travail en groupe, que vous accepterez que si vous le souhaitez ;)<br><br>
  </div>
  <div class="explications">
  <strong>En effet, elles animent trois groupes :</strong><br>
  <ul>
    <li>Gestion du stress et de l’anxiété : comprendre les notions de stress et d’anxiété, initiation à différentes techniques de relaxation. 3 séances de 2H30.</li>
    <li>Affirmation de soi : apprendre à communiquer et s’affirmer, savoir dire non, exprimer ses émotions et ses besoins. 4 séances par « niveau » de 2h30.</li>
    <li>Gestion du poids : comprendre mon comportement alimentaire, apprendre à reconnaitre et être à l’écoute des sensations alimentaires (faim et satiété) et gérer les envies de manger. 4 séances de 2H30.
    </li></ul></p>
    </div>
  </div>
  <script>
  $(".subtitle-home").hover(function(){
  $(this).css("background-color", "MistyRose");
  }, function(){
  $(this).css("background-color", "white");
  });
  </script>
