<div class="container">
  <h2 class="subtitle-home">Pourquoi consulter un(e) diététicien(ne) ou un(e) psychologue (ou les deux) ?</h2>
  <br>
  <div class="presentation"><p>
    Nombreuses pourraient être les raisons de vouloir apprendre à mieux connaître son corps et son cerveau. Qu’il s’agisse de vouloir prendre du temps pour soi, prendre soin de soi ou encore de se sentir mieux, il n’y a pas de règles. La première consultation résulte souvent de difficultés ressenties, qui peuvent être d’ordre médical, personnel, social ou professionnel.
    <br>
    L’objectif principal étant d’analyser son fonctionnement et de réapprendre à vivre en équilibre avec soi-même et son environnement.
  </p>

  <br>
  <br>
  <img src="images/dog.jpg" alt="interrogation">

  <h3 class="subtitle-home">Qu’est-ce que les TECC ?</h3>
  <p>Les Thérapies Emotionnelles Cognitives et Comportementales (TECC) sont des thérapies validées scientifiquement. Elles aident la personne à mieux comprendre l’origine de la souffrance psychologique.
    Les TECC sont centrées sur les émotions, les cognitions (pensées) et les comportements. Des exercices tout au long de la thérapie sont donc proposés afin de travailler sur ces 3 composantes.
  </p>

  <br>
  <br>

  <img src="images/tecc_schema.jpg" alt="interrogation">

  <br>
  <br>

  <p>Cette prise en charge à démontrer son efficacité dans de nombreuses problématiques. Elle est notamment reconnue par la Haute Autorité de Santé (HAS) comme le traitement de choix dans les troubles du comportement alimentaire. Elles visent une modification rapide et durable de certains fonctionnements inadaptés.
    <br>
    Enfin, ces interventions s’axent sur le souci de préserver l’autonomie de la personne dans la gestion de son bien-être.
    <br><br>
    Les TECC s’adressent à toute personne, enfant, adolescent, adulte. Le travail peut s’effectuer en individuel, en couple, en collaboration avec l’entourage ou en groupe.<br><br>
  </div>
  <div class="explications">
  <strong>En effet, elles animent trois groupes :</strong><br>
  <ul>
    <li>Gestion du stress et de l’anxiété : comprendre les notions de stress et d’anxiété, initiation à différentes techniques de relaxation. 3 séances de 2H30.</li>
    <li>Affirmation de soi : apprendre à communiquer et s’affirmer, savoir dire non, exprimer ses émotions et ses besoins. 4 séances par « niveau » de 2h30.</li>
    <li>Gestion du poids : comprendre mon comportement alimentaire, apprendre à reconnaitre et être à l’écoute des sensations alimentaires (faim et satiété) et gérer les envies de manger. 4 séances de 2H30.
    </li></ul></p>
    </div>
  </div>
  <script>
  $(".subtitle-home").hover(function(){
  $(this).css("background-color", "MistyRose");
  }, function(){
  $(this).css("background-color", "white");
  });
  </script>
